## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

ImportError: cannot import name 'g_key' from 'config' (C:\Users\Rubi\anaconda3\lib\site-packages\config\__init__.py)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
# vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
# vacation_df.head()

In [14]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
# vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
# vacation_df.head()

# Add a variable for the files to load
vacation_file_load = os.path.join("WeatherPy_vacation.csv")

# Read the vacation Data
vacation_df = pd.read_csv(vacation_file_load)
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
0,2,Cheney,US,104.76,broken clouds,47.4874,-117.5758,"Holiday Inn Express & Suites Cheney, an IHG Hotel"
1,3,Mitsamiouli,KM,76.32,clear sky,-11.3847,43.2844,Foyer ADM
2,4,Korla,CN,84.04,overcast clouds,41.7597,86.1469,Gulisitan Hotel
3,5,Krasnoselkup,RU,53.47,broken clouds,65.7000,82.4667,Krasnosel'kupnefteprodukt
4,9,Ribeira Grande,PT,71.38,few clouds,38.5167,-28.7000,Quinta da Meia Eira
5,10,Miri,MY,74.44,broken clouds,4.4148,114.0089,"Mega Hotel, Miri"
6,11,Flagstaff,US,76.32,scattered clouds,35.1981,-111.6513,Drury Inn & Suites Flagstaff
7,12,Broome,US,66.69,clear sky,42.2506,-75.8330,Chenango Valley State Park
8,13,Victoria,HK,84.38,light rain,22.2855,114.1577,Mini Hotel Central
9,14,Bathsheba,BB,83.01,scattered clouds,13.2167,-59.5167,Atlantis Hotel

In [15]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current weather</dt><dd>{Current description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [21]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
vacation_start = vacation_df.loc[vacation_df['City'] == "Grafton"]
vacation_end = vacation_df.loc[vacation_df['City'] == "Grafton"]
vacation_stop1 = vacation_df.loc[vacation_df['City'] == "Broome"]
vacation_stop2 = vacation_df.loc[vacation_df['City'] == "Jamestown"]
vacation_stop3 = vacation_df.loc[vacation_df['City'] == "Bethel"]

In [28]:
vacation_start

,City_ID,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
450,546,Grafton,US,74.71,clear sky,42.207,-71.6856,The Grafton Inn

In [29]:
vacation_end

,City_ID,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
450,546,Grafton,US,74.71,clear sky,42.207,-71.6856,The Grafton Inn

In [25]:
vacation_stop1

,City_ID,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
7,12,Broome,US,66.69,clear sky,42.2506,-75.833,Chenango Valley State Park

In [26]:
vacation_stop2

,City_ID,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
42,58,Jamestown,US,68.72,scattered clouds,42.097,-79.2353,Hampton Inn & Suites Jamestown

In [27]:
vacation_stop3

,City_ID,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
30,41,Bethel,US,77.58,few clouds,41.3712,-73.414,Courtyard by Marriott Danbury

In [30]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
print(f'Start: {start}, End: {end}')

stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(f'Stop 1: {stop1}, Stop 2: {stop2}, Stop 3: {stop3}')
waypoints = [stop1,stop2,stop3]

Start: (42.207, -71.6856), End: (42.207, -71.6856)
Stop 1: (42.2506, -75.833), Stop 2: (42.097, -79.2353), Stop 3: (41.3712, -73.414)

In [32]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
# Create Map with route
fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=waypoints,
        travel_mode='DRIVING')

fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
0,546,Grafton,US,74.71,clear sky,42.2070,-71.6856,The Grafton Inn
1,12,Broome,US,66.69,clear sky,42.2506,-75.8330,Chenango Valley State Park
2,58,Jamestown,US,68.72,scattered clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
3,41,Bethel,US,77.58,few clouds,41.3712,-73.4140,Courtyard by Marriott Danbury

In [34]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current weather</dt><dd>{Current description} and {Max Temp} Â°F</dd>
</dl>
"""
# 10a Get the data from each row and add it to the formatting template and store the data in a list.

hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]
# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [35]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(starts), zoom_level=6)
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=waypoints,
        travel_mode='DRIVING', show_markers=False)
fig.add_layer(marker_layer)
fig.add_layer(city_itinerary)

# 11b. Display the figure
fig

NameError: name 'starts' is not defined